<header>
    <div><a href="/">HandBooru</a></div>
    <nav>
        <ul>
            <% if (locals.isAuth) { %>
            <li>
                <p>User is logged In!</p>
                <button>Logout</button>
            </li>
            <% } %>
        </ul>
    </nav>
</header>