<header>
    <div><a href="/">HandBooru</a></div>
    <nav>
        <ul>
            <% if (locals.isAuth) { %>
            <li>
                <p>User is logged In!</p>
                <form action="/logout" method="POST"> <!-- 모든 POST에는 csrf 토큰이 필요하다. -->
                    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                    <button type="submit">Logout</button>
                </form>
            </li>
            <% } %>
        </ul>
    </nav>
</header>