<%- include('./shared/head', {pageTitle: 'Login'}) %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include('./shared/header') %>
    <main>
        This is mainpage
    </main>
</body>

<% include('./shared/footer') %>