<%- include('./shared/head', {pageTitle: 'Login'}) %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include('./shared/header') %>
    <main id="login">
        <p><a href = '/login'>Go to login page</a></p>
        <p><a href = '/Signup'>Go to signup page</a></p>
</body>

<% include('./shared/footer') %>