    <%- include('../shared/head', {pageTitle: 'HandBooru'}) %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <p>Welcome to Handbooru</p>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
</body>

<%- include('../shared/footer') %>